services:
  - type: web
    name: telegram-barber-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMINS
        sync: false
      - key: TIMEZONE
        value: Europe/Moscow
    plan: free